@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");


body {

    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 40px 200px;
    background-color: white;
    color: black;
    border-bottom: 2px solid black;
}

.navbar-logo {

    width: 250px;
    height: 40px;
    margin-left: 10px;
}

.navbar-table {

    display: flex;
    margin-left: auto;
}

    .navbar-table table {

        margin: 0;
        padding: 0;
    }

    .navbar-table td {

        padding: 10px;
    }

    .navbar-table a {

        text-decoration: none;
        color: black;
    }

        .navbar-table a:hover {

            text-decoration: underline;
        }

.container {

    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.container-header {

    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;

}

h2 {

    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

    h2 small {

        font-size: 0.5em;
    }

.table {

    margin-bottom: 0px;
}

.table-header {

    max-width: 1100px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    width: 100%;
    background: #000;
    padding: 18px 0;
}
.table-content1 {

    display: flex;
    width: 100%;
}

.table-row {

    display: flex;
    width: 100%;
    align-items: center;
    padding: 18px 0;
    background: #eeeeee;
}

    .table-row:nth-of-type(odd) {

        background: #bfbfbf;
    }

    .table-row:nth-child(even) {

        background: #7d7d7d;
    }


.table-data,
.header__item {

    flex: 1 1 20%;
    text-align: center;
    align-items: center;
}

.header__item {

    text-transform: uppercase;
}

.filter__link {

    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
}

    .filter__link::after {

        content: "";
        position: absolute;
        right: -18px;
        color: white;
        font-size: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    .filter__link.desc::after {

        content: "(desc)";
    }

    .filter__link.asc::after {

        content: "(asc)";
    }

.container-panel {

    max-width: 1000px;
    margin: 0 auto 50px auto;
    padding: 20px;
    background-color: #bfbfbf;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form {

    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {

    margin-bottom: 20px;
    max-width:300px;
    width:100%;
    flex-direction: column;
}

label {

    max-width: 400px;
    width: 100%;
}

input[type="text"] {

    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {

    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.paging .page-labels{
    display: flex;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: end;

}

.paging .page-buttons {
    max-width: 1100px;
    width: 100%;
    margin: 20px auto 0 auto;
    align-items: center;
    text-align: right;
}

/*.paging .page-buttons .page-button {
    margin-left: 10px;
}*/
